dist: xenial

language: python

python:
  - "2.7"
  - "3.6"
  - "3.7"
  - "3.8-dev"

addons:
  apt:
    packages:
      - libgirepository1.0-dev
      - gir1.2-networkmanager-1.0
      - network-manager

install:
  - pip install -r requirements.txt

script:
  - pytest
